img[src*='#right']{ float: right}

img[src*='#center']{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

img[src*='#goyo']{ 
  float: right;
}

.figure{
  display: block;
  text-align: center;
}
    
